<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.misstilo.cloth_erp_api.mapper.purchase.PurchaseReceiptDetailMapper">
  <!-- Result Map for PurchaseReceiptDetail -->
  <resultMap id="purchaseReceiptDetailResultMap" type="com.misstilo.cloth_erp_api.model.purchase.PurchaseReceiptDetailModel">
    <id column="Id" property="id" />
    <result column="PurchaseReceiptId" property="purchaseReceiptId" />
    <result column="ProductSkuId" property="productSkuId" />
    <result column="ProductSkuCode" property="productSkuCode" />
    <result column="Qty" property="qty" />
    <result column="CostPrc" property="costPrc" />
    <result column="SubTot" property="subTot" />
  </resultMap>

  <!-- Insert -->
  <insert id="insert">
    INSERT INTO PurchaseReceiptDetail (PurchaseReceiptId, ProductSkuId, dQty, CostPrc)
    VALUES (#{purchaseReceiptId}, #{productSkuId}, #{qty}, #{costPrc})
  </insert>
  <!-- Delete -->
  <delete id="delete">
    DELETE FROM PurchaseReceiptDetail
    WHERE Id = #{id}
  </delete>
  <!-- Update -->
  <update id="update">
    UPDATE PurchaseReceiptDetail
    <if test="qty != null">
      <set>
        dQty = #{qty}
      </set>
    </if>
    <if test="costPrc != null">
      <set>
        CostPrc = #{costPrc}
      </set>
    </if>
    <where>
      Id = #{id}
    </where>
  </update>
  <!-- Select -->
  <select id="select" resultMap="purchaseReceiptDetailResultMap">
    SELECT PRD.*, PS.SkuCode AS ProductSkuCode
    FROM PurchaseReceiptDetail AS PRD
    INNER JOIN ProductSku AS PS ON PRD.ProductSkuId = PS.Id
    <where>
      PRD.PurchaseReceiptId = #{purchaseReceiptId}
    </where>
    ORDER BY Id
  </select>
</mapper>