<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.misstilo.cloth_erp_api.mapper.purchase.PurchaseRturnMapper">
    <!-- Result Map for PurchaseRturn -->
    <resultMap id="purchaseRturnResultMap"
        type="com.misstilo.cloth_erp_api.model.purchase.PurchaseRturnModel">
        <id column="Id" property="id" />
        <result column="Confirmed" property="confirmed" />
        <result column="Signed" property="signed" />
        <result column="Code" property="code" />
        <result column="Date" property="date" />
        <result column="SupplierId" property="supplierId" />
        <result column="SupplierName" property="supplierName" />
        <result column="TotQty" property="totQty" />
        <result column="TotAmt" property="totAmt" />
        <result column="Remark" property="remark" />
        <result column="CreateAt" property="createAt" />
        <result column="UpdateAt" property="updateAt" />
    </resultMap>

    <!-- Insert -->
    <insert id="insert">
        INSERT INTO PurchaseRturn (SupplierId, Remark)
        VALUES (#{supplierId}, #{originalCode}, #{remark})
    </insert>
    <!-- Delete -->
    <delete id="delete"> DELETE FROM PurchaseRturn WHERE Id = #{id} </delete>
    <!-- Update -->
    <update id="update">
        UPDATE PurchaseRturn
        <if test="confirmed != null">
            <set>
                Confirmed = #{confirmed}
            </set>
        </if>
        <if test="signed != null">
            <set>
                Signed = #{signed}
            </set>
        </if>
        <if test="originalCode != null and originalCode != ''">
            <set>
                OriginalCode = #{originalCode}
            </set>
        </if>
        <if test="totQty != null">
            <set>
                TotQty = #{totQty}
            </set>
        </if>
        <if test="totAmt != null">
            <set>
                TotAmt = #{totAmt}
            </set>
        </if>
        <if test="remark != null and remark != ''">
            <set>
                Remark = #{remark} 
            </set>
        </if>
        <set> UpdateAt = SYSDATETIME() </set>
        <where> Id = #{id} </where>
    </update>
    <!-- Select -->
    <select id="select" resultMap="purchaseRturnResultMap">
        SELECT PR.*, S.Name AS SupplierName
        FROM PurchaseRturn AS PR
        INNER JOIN Supplier AS S ON PR.SupplierId = S.Id
        <where>
            <if test="id != null">
                AND PR.Id = #{id}
            </if>
            <if test="confirmed != null">
                AND PR.Confirmed = #{confirmed}
            </if>
            <if test="signed != null">
                AND PR.Signed = #{signed}
            </if>
            <if test="code != null and code != ''">
                AND PR.Code = #{code}
            </if>
            <if test="dateS != null and dateS != ''">
                AND PR.Date &gt;= #{dateS}
            </if>
            <if test="dateE != null and dateE != ''">
                AND PR.Date &lt;= #{dateE}
            </if>
            <if test="supplierId != null">
                AND PR.SupplierId IN
                <foreach collection="supplierId" item="id" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </if>
        </where>
        ORDER BY Id
    </select>
</mapper>