<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.misstilo.cloth_erp_api.mapper.purchase.PurchaseOrderMapper">
  <!-- Result Map for PurchaseOrder -->
  <resultMap id="purchaseOrderResultMap" type="com.misstilo.cloth_erp_api.model.purchase.PurchaseOrderModel">
    <id column="Id" property="id" />
    <result column="Confirmed" property="confirmed" />
    <result column="Signed" property="signed" />
    <result column="Code" property="code" />
    <result column="Date" property="date" />
    <result column="SupplierId" property="supplierId" />
    <result column="SupplierName" property="supplierName" />
    <result column="TotQty" property="totQty" />
    <result column="TotAmt" property="totAmt" />
    <result column="Remark" property="remark" />
    <result column="CreateAt" property="createAt" />
    <result column="UpdateAt" property="updateAt" />
  </resultMap>

  <!-- Insert -->
  <insert id="insert">
    INSERT INTO PurchaseOrder (Code, Date, SupplierId, Remark)
    VALUES (#{code}, #{date}, #{supplierId}, #{remark})
  </insert>
  <!-- Delete -->
  <delete id="delete">
    DELETE FROM PurchaseOrder
    WHERE Id = #{id}
  </delete>
  <!-- Update -->
  <update id="update">
    UPDATE PurchaseOrder
    <if test="totQty != null">
      <set>
        TotQty = #{totQty}
      </set>
    </if>
    <if test="totAmt != null">
      <set>
        TotAmt = #{totAmt}
      </set>
    </if>
    <set>
      UpdateAt = SYSDATETIME()
    </set>
    <where>
      Id = #{id}
    </where>
  </update>
  <!-- Select -->
  <select id="select" resultMap="purchaseOrderResultMap">
    SELECT PO.*, S.Name AS SupplierName
    FROM PurchaseOrder AS PO
    INNER JOIN Supplier AS S ON PO.SupplierId = S.Id
    <where>
      <if test="id != null">
        AND PO.Id = #{id}
      </if>
      <if test="confirmed != null">
        AND PO.Confirmed = #{confirmed}
      </if>
      <if test="signed != null">
        AND PO.Signed = #{signed}
      </if>
      <if test="code != null and code != ''">
        AND PO.Code = #{code}
      </if>
      <if test="dateS != null and dateS != ''">
        AND PO.Date &gt;= #{dateS}
      </if>
      <if test="dateE != null and dateE != ''">
        AND PO.Date &lt;= #{dateE}
      </if>
      <if test="supplierId != null">
        AND PO.SupplierId IN
        <foreach collection="supplierId" item="id" open="(" separator="," close=")">
          #{id}
        </foreach>
      </if>
      <if test="totQtyS != null">
        AND PO.TotQty &gt;= #{totQtyS}
      </if>
      <if test="totQtyE != null">
        AND PO.TotQty &lt;= #{totQtyE}
      </if>
      <if test="totAmtS != null">
        AND PO.TotAmt &gt;= #{totAmtS}
      </if>
      <if test="totAmtE != null">
        AND PO.TotAmt &lt;= #{totAmtE}
      </if>
      <if test="remark != null and remark != ''">
        AND PO.Remark LIKE '%' + #{remark} + '%'
      </if>
      <if test="createAtS != null and createAtS != ''">
        AND PO.CreateAtS &gt;= #{createAtS}
      </if>
      <if test="createAtE != null and createAtE != ''">
        AND PO.CreateAtE &lt;= #{createAtE}
      </if>
      <if test="updateAtS != null and updateAtS != ''">
        AND PO.UpdateAtS &gt;= #{updateAtS}
      </if>
      <if test="updateAtE != null and updateAtE != ''">
        AND PO.UpdateAtE &lt;= #{updateAtE}
      </if>
    </where>
    ORDER BY Id
  </select>
</mapper>