<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.misstilo.cloth_erp_api.mapper.purchase.PurchasedReturnDetailMapper">
  <!-- Result Map for PurchasedReturnDetail -->
  <resultMap id="purchasedReturnDetailResultMap" type="com.misstilo.cloth_erp_api.model.purchase.PurchasedReturnDetailModel">
    <id column="Id" property="id" />
    <result column="PurchasedReturnId" property="purchasedReturnId" />
    <result column="ProductSkuId" property="productSkuId" />
    <result column="ProductSkuCode" property="productSkuCode" />
    <result column="Qty" property="qty" />
    <result column="CostPrc" property="costPrc" />
    <result column="SubTot" property="subTot" />
  </resultMap>

  <!-- Insert -->
  <insert id="insert">
    INSERT INTO PurchasedReturnDetail (PurchasedReturnId, ProductSkuId, dQty, CostPrc)
    VALUES (#{purchasedReturnId}, #{productSkuId}, #{qty}, #{costPrc})
  </insert>
  <!-- Delete -->
  <delete id="delete">
    DELETE FROM PurchasedReturnDetail
    WHERE Id = #{id}
  </delete>
  <!-- Update -->
  <update id="update">
    UPDATE PurchasedReturnDetail
    <if test="qty != null">
      <set>
        dQty = #{qty}
      </set>
    </if>
    <if test="costPrc != null">
      <set>
        CostPrc = #{costPrc}
      </set>
    </if>
    <where>
      Id = #{id}
    </where>
  </update>
  <!-- Select -->
  <select id="select" resultMap="purchasedReturnDetailResultMap">
    SELECT PRD.*, PS.SkuCode AS ProductSkuCode
    FROM PurchasedReturnDetail AS PRD
    INNER JOIN ProductSku AS PS ON PRD.ProductSkuId = PS.Id
    <where>
      PRD.PurchasedReturnId = #{purchasedReturnId}
    </where>
    ORDER BY Id
  </select>
</mapper>