USE [master]
GO
/****** Object:  Database [cloth_erp_db]    Script Date: 2025/12/12 下午 05:29:48 ******/
CREATE DATABASE [cloth_erp_db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'cloth_erp_db', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\cloth_erp_db.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'cloth_erp_db_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\cloth_erp_db_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [cloth_erp_db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [cloth_erp_db]
GO
/****** Object:  Table [dbo].[Color]    Script Date: 2025/12/12 下午 05:29:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Color](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](10) NOT NULL,
	[Name] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inventory]    Script Date: 2025/12/12 下午 05:29:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inventory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StoreId] [int] NOT NULL,
	[ProductSkuId] [int] NOT NULL,
	[CurrentQty] [int] NOT NULL,
	[PurchaseQty] [int] NOT NULL,
	[PurchaseReturnQty] [int] NOT NULL,
	[SaleQty] [int] NOT NULL,
	[SaleReturnQty] [int] NOT NULL,
	[ActualQty]  AS (((([CurrentQty]-[PurchaseQty])-[PurchaseReturnQty])-[SaleQty])-[SaleReturnQty]),
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Inventory_Sku_Store] UNIQUE NONCLUSTERED 
(
	[StoreId] ASC,
	[ProductSkuId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InventoryLog]    Script Date: 2025/12/12 下午 05:29:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InventoryLog](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[InventoryLogTypeId] [int] NOT NULL,
	[StoreId] [int] NOT NULL,
	[ProductSkuId] [int] NOT NULL,
	[Qty] [int] NOT NULL,
	[BeforeQty] [int] NOT NULL,
	[AfterQty]  AS ([BeforeQty]+[Qty]),
	[CreateAt] [datetime2](3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InventoryLogType]    Script Date: 2025/12/12 下午 05:29:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InventoryLogType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Member]    Script Date: 2025/12/12 下午 05:29:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Member](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](20) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[Address] [nvarchar](255) NULL,
	[JoinDate] [datetime2](3) NOT NULL,
	[TotQty] [int] NULL,
	[TotAmt] [decimal](18, 2) NULL,
	[TotCnt] [int] NULL,
	[IsActive] [bit] NULL,
	[CreateAt] [datetime2](3) NOT NULL,
	[UpdateAt] [datetime2](3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentMethod]    Script Date: 2025/12/12 下午 05:29:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentMethod](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 2025/12/12 下午 05:29:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [varchar](20) NOT NULL,
	[Name] [nvarchar](20) NOT NULL,
	[Remark] [nvarchar](255) NULL,
	[UnitPrc] [decimal](18, 2) NOT NULL,
	[IsActive] [bit] NULL,
	[CreateAt] [datetime2](3) NOT NULL,
	[UpdateAt] [datetime2](3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductSku]    Script Date: 2025/12/12 下午 05:29:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductSku](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[SupplierId] [int] NULL,
	[ColorId] [int] NOT NULL,
	[SizeId] [int] NOT NULL,
	[SkuCode] [varchar](30) NOT NULL,
	[CostPrc] [decimal](18, 2) NOT NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_ProductSku] UNIQUE NONCLUSTERED 
(
	[ProductId] ASC,
	[SupplierId] ASC,
	[ColorId] ASC,
	[SizeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductTagRel]    Script Date: 2025/12/12 下午 05:29:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductTagRel](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[TagId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_ProductTag] UNIQUE NONCLUSTERED 
(
	[ProductId] ASC,
	[TagId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PurchaseOrder]    Script Date: 2025/12/12 下午 05:29:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchaseOrder](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Confirmed] [bit] NOT NULL,
	[Signed] [bit] NOT NULL,
	[Code] [nvarchar](20) NOT NULL,
	[Date] [datetime2](3) NOT NULL,
	[SupplierId] [int] NOT NULL,
	[TotQty] [int] NOT NULL,
	[TotAmt] [decimal](18, 2) NOT NULL,
	[Remark] [nvarchar](200) NULL,
	[CreateAt] [datetime2](3) NOT NULL,
	[UpdateAt] [datetime2](3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PurchaseOrderDetail]    Script Date: 2025/12/12 下午 05:29:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchaseOrderDetail](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PurchaseOrderId] [int] NOT NULL,
	[ProductSkuId] [int] NOT NULL,
	[PurchaseQty] [int] NOT NULL,
	[ReceivedQty] [int] NOT NULL,
	[UndeliveredQty]  AS ([PurchaseQty]-[ReceivedQty]),
	[CostPrc] [decimal](18, 2) NOT NULL,
	[SubTot]  AS ([PurchaseQty]*[CostPrc]),
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_PurchaseOrderDetail] UNIQUE NONCLUSTERED 
(
	[PurchaseOrderId] ASC,
	[ProductSkuId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PurchaseReceipt]    Script Date: 2025/12/12 下午 05:29:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchaseReceipt](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Confirmed] [bit] NOT NULL,
	[Signed] [bit] NOT NULL,
	[Code] [varchar](20) NOT NULL,
	[Date] [datetime2](3) NOT NULL,
	[SupplierId] [int] NOT NULL,
	[OriginalCode] [varchar](20) NULL,
	[TotQty] [int] NOT NULL,
	[TotAmt] [decimal](18, 2) NOT NULL,
	[Remark] [nvarchar](255) NULL,
	[CreateAt] [datetime2](3) NOT NULL,
	[UpdateAt] [datetime2](3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PurchaseReceiptDetail]    Script Date: 2025/12/12 下午 05:29:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchaseReceiptDetail](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PurchaseReceiptId] [int] NOT NULL,
	[ProductSkuId] [int] NOT NULL,
	[Qty] [int] NOT NULL,
	[CostPrc] [decimal](18, 2) NOT NULL,
	[SubTot]  AS ([Qty]*[CostPrc]),
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_PurchaseReceiptDetail] UNIQUE NONCLUSTERED 
(
	[PurchaseReceiptId] ASC,
	[ProductSkuId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PurchaseReturn]    Script Date: 2025/12/12 下午 05:29:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchaseReturn](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Confirmed] [bit] NOT NULL,
	[Signed] [bit] NOT NULL,
	[Code] [nvarchar](20) NOT NULL,
	[Date] [datetime2](3) NOT NULL,
	[SupplierId] [int] NOT NULL,
	[TotQty] [int] NOT NULL,
	[TotAmt] [decimal](18, 2) NOT NULL,
	[Remark] [nvarchar](255) NULL,
	[CreateAt] [datetime2](3) NOT NULL,
	[UpdateAt] [datetime2](3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PurchaseReturnDetail]    Script Date: 2025/12/12 下午 05:29:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchaseReturnDetail](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PurchaseReturnId] [int] NOT NULL,
	[ProductSkuId] [int] NOT NULL,
	[ReturnReasonId] [int] NOT NULL,
	[Qty] [int] NOT NULL,
	[CostPrc] [decimal](18, 2) NOT NULL,
	[SubTot]  AS ([Qty]*[CostPrc]),
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_PurchaseReturnDetail] UNIQUE NONCLUSTERED 
(
	[PurchaseReturnId] ASC,
	[ProductSkuId] ASC,
	[ReturnReasonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReturnReason]    Script Date: 2025/12/12 下午 05:29:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReturnReason](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Reason] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SalesOrder]    Script Date: 2025/12/12 下午 05:29:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalesOrder](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [varchar](20) NOT NULL,
	[Date] [datetime2](3) NOT NULL,
	[OriginalCode] [varchar](20) NULL,
	[MemberId] [int] NULL,
	[StoreId] [int] NOT NULL,
	[SalesPlatformId] [int] NOT NULL,
	[TotQty] [int] NOT NULL,
	[TotAmt] [decimal](18, 2) NOT NULL,
	[DiscAmt] [decimal](18, 2) NOT NULL,
	[TaxAmt] [decimal](18, 2) NOT NULL,
	[DeliveryFee] [decimal](18, 2) NULL,
	[PlatformFee] [decimal](18, 2) NULL,
	[Status] [int] NOT NULL,
	[PaymentMethodId] [int] NOT NULL,
	[Remark] [nvarchar](255) NULL,
	[CreateAt] [datetime2](3) NOT NULL,
	[UpdateAt] [datetime2](3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SalesOrderDetail]    Script Date: 2025/12/12 下午 05:29:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalesOrderDetail](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SalesOrderId] [int] NOT NULL,
	[ProductSkuId] [int] NOT NULL,
	[Qty] [int] NOT NULL,
	[SellPrc] [decimal](18, 2) NOT NULL,
	[DiscPrc] [decimal](18, 2) NOT NULL,
	[SubTot]  AS (([SellPrc]-[DiscPrc])*[Qty]) PERSISTED,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_SalesOrderDetail] UNIQUE NONCLUSTERED 
(
	[SalesOrderId] ASC,
	[ProductSkuId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SalesOrderStatus]    Script Date: 2025/12/12 下午 05:29:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalesOrderStatus](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SalesPlatform]    Script Date: 2025/12/12 下午 05:29:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalesPlatform](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SalesReturn]    Script Date: 2025/12/12 下午 05:29:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalesReturn](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Confirmed] [bit] NOT NULL,
	[Signed] [bit] NOT NULL,
	[Code] [varchar](20) NOT NULL,
	[Date] [datetime2](3) NOT NULL,
	[SalesOrderId] [int] NOT NULL,
	[ReturnReasonId] [int] NOT NULL,
	[TotQty] [int] NOT NULL,
	[TotAmt] [decimal](18, 2) NOT NULL,
	[Remark] [nvarchar](255) NULL,
	[CreateAt] [datetime2](3) NOT NULL,
	[UpdateAt] [datetime2](3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SalesReturnDetail]    Script Date: 2025/12/12 下午 05:29:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalesReturnDetail](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SalesReturnId] [int] NOT NULL,
	[ProductSkuId] [int] NOT NULL,
	[Qty] [int] NOT NULL,
	[RefundPrc] [decimal](18, 2) NOT NULL,
	[SubTot]  AS ([Qty]*[RefundPrc]),
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_SalesReturnDetail] UNIQUE NONCLUSTERED 
(
	[SalesReturnId] ASC,
	[ProductSkuId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Size]    Script Date: 2025/12/12 下午 05:29:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Size](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](10) NOT NULL,
	[Name] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Store]    Script Date: 2025/12/12 下午 05:29:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Store](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](10) NOT NULL,
	[Name] [nvarchar](20) NOT NULL,
	[StoreTypeId] [int] NOT NULL,
	[IsActive] [bit] NULL,
	[CreateAt] [datetime2](3) NOT NULL,
	[UpdateAt] [datetime2](3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StoreType]    Script Date: 2025/12/12 下午 05:29:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StoreType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Supplier]    Script Date: 2025/12/12 下午 05:29:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supplier](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](10) NOT NULL,
	[Name] [nvarchar](20) NOT NULL,
	[ContactName] [nvarchar](20) NULL,
	[ContactPhone] [varchar](20) NULL,
	[Address] [nvarchar](255) NULL,
	[IsActive] [bit] NULL,
	[CreateAt] [datetime2](3) NOT NULL,
	[UpdateAt] [datetime2](3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tag]    Script Date: 2025/12/12 下午 05:29:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tag](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Inventory] ADD  DEFAULT ((0)) FOR [CurrentQty]
GO
ALTER TABLE [dbo].[Inventory] ADD  DEFAULT ((0)) FOR [PurchaseQty]
GO
ALTER TABLE [dbo].[Inventory] ADD  DEFAULT ((0)) FOR [PurchaseReturnQty]
GO
ALTER TABLE [dbo].[Inventory] ADD  DEFAULT ((0)) FOR [SaleQty]
GO
ALTER TABLE [dbo].[Inventory] ADD  DEFAULT ((0)) FOR [SaleReturnQty]
GO
ALTER TABLE [dbo].[InventoryLog] ADD  DEFAULT ((1)) FOR [Qty]
GO
ALTER TABLE [dbo].[InventoryLog] ADD  DEFAULT ((0)) FOR [BeforeQty]
GO
ALTER TABLE [dbo].[InventoryLog] ADD  DEFAULT (sysdatetime()) FOR [CreateAt]
GO
ALTER TABLE [dbo].[Member] ADD  DEFAULT (sysdatetime()) FOR [JoinDate]
GO
ALTER TABLE [dbo].[Member] ADD  DEFAULT ((0)) FOR [TotQty]
GO
ALTER TABLE [dbo].[Member] ADD  DEFAULT ((0)) FOR [TotAmt]
GO
ALTER TABLE [dbo].[Member] ADD  DEFAULT ((0)) FOR [TotCnt]
GO
ALTER TABLE [dbo].[Member] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Member] ADD  DEFAULT (sysdatetime()) FOR [CreateAt]
GO
ALTER TABLE [dbo].[Member] ADD  DEFAULT (sysdatetime()) FOR [UpdateAt]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT (sysdatetime()) FOR [CreateAt]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT (sysdatetime()) FOR [UpdateAt]
GO
ALTER TABLE [dbo].[ProductSku] ADD  DEFAULT ((0)) FOR [CostPrc]
GO
ALTER TABLE [dbo].[ProductSku] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[PurchaseOrder] ADD  DEFAULT ((0)) FOR [Confirmed]
GO
ALTER TABLE [dbo].[PurchaseOrder] ADD  DEFAULT ((0)) FOR [Signed]
GO
ALTER TABLE [dbo].[PurchaseOrder] ADD  DEFAULT (sysdatetime()) FOR [Date]
GO
ALTER TABLE [dbo].[PurchaseOrder] ADD  DEFAULT ((0)) FOR [TotQty]
GO
ALTER TABLE [dbo].[PurchaseOrder] ADD  DEFAULT ((0)) FOR [TotAmt]
GO
ALTER TABLE [dbo].[PurchaseOrder] ADD  DEFAULT (sysdatetime()) FOR [CreateAt]
GO
ALTER TABLE [dbo].[PurchaseOrder] ADD  DEFAULT (sysdatetime()) FOR [UpdateAt]
GO
ALTER TABLE [dbo].[PurchaseOrderDetail] ADD  DEFAULT ((1)) FOR [PurchaseQty]
GO
ALTER TABLE [dbo].[PurchaseOrderDetail] ADD  DEFAULT ((0)) FOR [ReceivedQty]
GO
ALTER TABLE [dbo].[PurchaseOrderDetail] ADD  DEFAULT ((0)) FOR [CostPrc]
GO
ALTER TABLE [dbo].[PurchaseReceipt] ADD  DEFAULT ((0)) FOR [Confirmed]
GO
ALTER TABLE [dbo].[PurchaseReceipt] ADD  DEFAULT ((0)) FOR [Signed]
GO
ALTER TABLE [dbo].[PurchaseReceipt] ADD  DEFAULT (sysdatetime()) FOR [Date]
GO
ALTER TABLE [dbo].[PurchaseReceipt] ADD  DEFAULT ((0)) FOR [TotQty]
GO
ALTER TABLE [dbo].[PurchaseReceipt] ADD  DEFAULT ((0)) FOR [TotAmt]
GO
ALTER TABLE [dbo].[PurchaseReceipt] ADD  DEFAULT (sysdatetime()) FOR [CreateAt]
GO
ALTER TABLE [dbo].[PurchaseReceipt] ADD  DEFAULT (sysdatetime()) FOR [UpdateAt]
GO
ALTER TABLE [dbo].[PurchaseReceiptDetail] ADD  DEFAULT ((1)) FOR [Qty]
GO
ALTER TABLE [dbo].[PurchaseReceiptDetail] ADD  DEFAULT ((0)) FOR [CostPrc]
GO
ALTER TABLE [dbo].[PurchaseReturn] ADD  DEFAULT ((0)) FOR [Confirmed]
GO
ALTER TABLE [dbo].[PurchaseReturn] ADD  DEFAULT ((0)) FOR [Signed]
GO
ALTER TABLE [dbo].[PurchaseReturn] ADD  DEFAULT (sysdatetime()) FOR [Date]
GO
ALTER TABLE [dbo].[PurchaseReturn] ADD  DEFAULT ((0)) FOR [TotQty]
GO
ALTER TABLE [dbo].[PurchaseReturn] ADD  DEFAULT ((0)) FOR [TotAmt]
GO
ALTER TABLE [dbo].[PurchaseReturn] ADD  DEFAULT (sysdatetime()) FOR [CreateAt]
GO
ALTER TABLE [dbo].[PurchaseReturn] ADD  DEFAULT (sysdatetime()) FOR [UpdateAt]
GO
ALTER TABLE [dbo].[PurchaseReturnDetail] ADD  DEFAULT ((1)) FOR [Qty]
GO
ALTER TABLE [dbo].[PurchaseReturnDetail] ADD  DEFAULT ((0)) FOR [CostPrc]
GO
ALTER TABLE [dbo].[SalesOrder] ADD  DEFAULT (sysdatetime()) FOR [Date]
GO
ALTER TABLE [dbo].[SalesOrder] ADD  DEFAULT ((0)) FOR [SalesPlatformId]
GO
ALTER TABLE [dbo].[SalesOrder] ADD  DEFAULT ((1)) FOR [TotQty]
GO
ALTER TABLE [dbo].[SalesOrder] ADD  DEFAULT ((0)) FOR [TotAmt]
GO
ALTER TABLE [dbo].[SalesOrder] ADD  DEFAULT ((0)) FOR [DiscAmt]
GO
ALTER TABLE [dbo].[SalesOrder] ADD  DEFAULT ((0)) FOR [TaxAmt]
GO
ALTER TABLE [dbo].[SalesOrder] ADD  DEFAULT ((0)) FOR [DeliveryFee]
GO
ALTER TABLE [dbo].[SalesOrder] ADD  DEFAULT ((0)) FOR [PlatformFee]
GO
ALTER TABLE [dbo].[SalesOrder] ADD  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[SalesOrder] ADD  DEFAULT ((0)) FOR [PaymentMethodId]
GO
ALTER TABLE [dbo].[SalesOrder] ADD  DEFAULT (sysdatetime()) FOR [CreateAt]
GO
ALTER TABLE [dbo].[SalesOrder] ADD  DEFAULT (sysdatetime()) FOR [UpdateAt]
GO
ALTER TABLE [dbo].[SalesOrderDetail] ADD  DEFAULT ((1)) FOR [Qty]
GO
ALTER TABLE [dbo].[SalesOrderDetail] ADD  DEFAULT ((0)) FOR [SellPrc]
GO
ALTER TABLE [dbo].[SalesOrderDetail] ADD  DEFAULT ((0)) FOR [DiscPrc]
GO
ALTER TABLE [dbo].[SalesReturn] ADD  DEFAULT ((0)) FOR [Confirmed]
GO
ALTER TABLE [dbo].[SalesReturn] ADD  DEFAULT ((0)) FOR [Signed]
GO
ALTER TABLE [dbo].[SalesReturn] ADD  DEFAULT (sysdatetime()) FOR [Date]
GO
ALTER TABLE [dbo].[SalesReturn] ADD  DEFAULT ((0)) FOR [TotQty]
GO
ALTER TABLE [dbo].[SalesReturn] ADD  DEFAULT ((0)) FOR [TotAmt]
GO
ALTER TABLE [dbo].[SalesReturn] ADD  DEFAULT (sysdatetime()) FOR [CreateAt]
GO
ALTER TABLE [dbo].[SalesReturn] ADD  DEFAULT (sysdatetime()) FOR [UpdateAt]
GO
ALTER TABLE [dbo].[SalesReturnDetail] ADD  DEFAULT ((1)) FOR [Qty]
GO
ALTER TABLE [dbo].[Store] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Store] ADD  DEFAULT (sysdatetime()) FOR [CreateAt]
GO
ALTER TABLE [dbo].[Store] ADD  DEFAULT (sysdatetime()) FOR [UpdateAt]
GO
ALTER TABLE [dbo].[Supplier] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Supplier] ADD  DEFAULT (sysdatetime()) FOR [CreateAt]
GO
ALTER TABLE [dbo].[Supplier] ADD  DEFAULT (sysdatetime()) FOR [UpdateAt]
GO
ALTER TABLE [dbo].[Inventory]  WITH CHECK ADD FOREIGN KEY([ProductSkuId])
REFERENCES [dbo].[ProductSku] ([Id])
GO
ALTER TABLE [dbo].[Inventory]  WITH CHECK ADD FOREIGN KEY([StoreId])
REFERENCES [dbo].[Store] ([Id])
GO
ALTER TABLE [dbo].[InventoryLog]  WITH CHECK ADD FOREIGN KEY([InventoryLogTypeId])
REFERENCES [dbo].[InventoryLogType] ([Id])
GO
ALTER TABLE [dbo].[InventoryLog]  WITH CHECK ADD FOREIGN KEY([ProductSkuId])
REFERENCES [dbo].[ProductSku] ([Id])
GO
ALTER TABLE [dbo].[InventoryLog]  WITH CHECK ADD FOREIGN KEY([StoreId])
REFERENCES [dbo].[Store] ([Id])
GO
ALTER TABLE [dbo].[ProductSku]  WITH CHECK ADD FOREIGN KEY([ColorId])
REFERENCES [dbo].[Color] ([Id])
GO
ALTER TABLE [dbo].[ProductSku]  WITH CHECK ADD FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([Id])
GO
ALTER TABLE [dbo].[ProductSku]  WITH CHECK ADD FOREIGN KEY([SizeId])
REFERENCES [dbo].[Size] ([Id])
GO
ALTER TABLE [dbo].[ProductSku]  WITH CHECK ADD FOREIGN KEY([SupplierId])
REFERENCES [dbo].[Supplier] ([Id])
GO
ALTER TABLE [dbo].[ProductTagRel]  WITH CHECK ADD FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([Id])
GO
ALTER TABLE [dbo].[ProductTagRel]  WITH CHECK ADD FOREIGN KEY([TagId])
REFERENCES [dbo].[Tag] ([Id])
GO
ALTER TABLE [dbo].[PurchaseOrder]  WITH CHECK ADD FOREIGN KEY([SupplierId])
REFERENCES [dbo].[Supplier] ([Id])
GO
ALTER TABLE [dbo].[PurchaseOrderDetail]  WITH CHECK ADD FOREIGN KEY([ProductSkuId])
REFERENCES [dbo].[ProductSku] ([Id])
GO
ALTER TABLE [dbo].[PurchaseOrderDetail]  WITH CHECK ADD FOREIGN KEY([PurchaseOrderId])
REFERENCES [dbo].[PurchaseOrder] ([Id])
GO
ALTER TABLE [dbo].[PurchaseReceipt]  WITH CHECK ADD FOREIGN KEY([SupplierId])
REFERENCES [dbo].[Supplier] ([Id])
GO
ALTER TABLE [dbo].[PurchaseReceiptDetail]  WITH CHECK ADD FOREIGN KEY([ProductSkuId])
REFERENCES [dbo].[ProductSku] ([Id])
GO
ALTER TABLE [dbo].[PurchaseReceiptDetail]  WITH CHECK ADD FOREIGN KEY([PurchaseReceiptId])
REFERENCES [dbo].[PurchaseReceipt] ([Id])
GO
ALTER TABLE [dbo].[PurchaseReturn]  WITH CHECK ADD FOREIGN KEY([SupplierId])
REFERENCES [dbo].[Supplier] ([Id])
GO
ALTER TABLE [dbo].[PurchaseReturnDetail]  WITH CHECK ADD FOREIGN KEY([ProductSkuId])
REFERENCES [dbo].[ProductSku] ([Id])
GO
ALTER TABLE [dbo].[PurchaseReturnDetail]  WITH CHECK ADD FOREIGN KEY([PurchaseReturnId])
REFERENCES [dbo].[PurchaseReturn] ([Id])
GO
ALTER TABLE [dbo].[PurchaseReturnDetail]  WITH CHECK ADD FOREIGN KEY([ReturnReasonId])
REFERENCES [dbo].[ReturnReason] ([Id])
GO
ALTER TABLE [dbo].[SalesOrder]  WITH CHECK ADD FOREIGN KEY([MemberId])
REFERENCES [dbo].[Member] ([Id])
GO
ALTER TABLE [dbo].[SalesOrder]  WITH CHECK ADD FOREIGN KEY([PaymentMethodId])
REFERENCES [dbo].[PaymentMethod] ([Id])
GO
ALTER TABLE [dbo].[SalesOrder]  WITH CHECK ADD FOREIGN KEY([SalesPlatformId])
REFERENCES [dbo].[SalesPlatform] ([Id])
GO
ALTER TABLE [dbo].[SalesOrder]  WITH CHECK ADD FOREIGN KEY([StoreId])
REFERENCES [dbo].[Store] ([Id])
GO
ALTER TABLE [dbo].[SalesOrderDetail]  WITH CHECK ADD FOREIGN KEY([ProductSkuId])
REFERENCES [dbo].[ProductSku] ([Id])
GO
ALTER TABLE [dbo].[SalesOrderDetail]  WITH CHECK ADD FOREIGN KEY([SalesOrderId])
REFERENCES [dbo].[SalesOrder] ([Id])
GO
ALTER TABLE [dbo].[SalesReturn]  WITH CHECK ADD FOREIGN KEY([ReturnReasonId])
REFERENCES [dbo].[ReturnReason] ([Id])
GO
ALTER TABLE [dbo].[SalesReturn]  WITH CHECK ADD FOREIGN KEY([SalesOrderId])
REFERENCES [dbo].[SalesOrder] ([Id])
GO
ALTER TABLE [dbo].[SalesReturnDetail]  WITH CHECK ADD FOREIGN KEY([ProductSkuId])
REFERENCES [dbo].[ProductSku] ([Id])
GO
ALTER TABLE [dbo].[SalesReturnDetail]  WITH CHECK ADD FOREIGN KEY([SalesReturnId])
REFERENCES [dbo].[SalesReturn] ([Id])
GO
ALTER TABLE [dbo].[Store]  WITH CHECK ADD FOREIGN KEY([StoreTypeId])
REFERENCES [dbo].[StoreType] ([Id])
GO
USE [master]
GO
